/* VARIABLE */
body {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color: black;
}
:root {
	--Theme: #ff9900;
	--Regular: "LINE_Seed_Rg";
	--Bold: "LINE_Seed_Bd";
	--ExBold: "LINE_Seed_Eb";
}

/* HEADER */

header {
	display: flex;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(6px);
	height: 64px;
	padding: 4px 24px;
	align-items: center;
	position: fixed;
	width: 100%;
	justify-content: space-between;
	z-index: 3;
}

.header-logo {
	font-family: var(--ExBold);
	font-size: 20px;
}

.header-lists {
	display: flex;
	align-items: center;
	gap: 36px;
	margin: 0px 24px;
}

.header-lists ul {
	display: flex;
}

.header-lists ul li {
	list-style: none;
	font-family: var(--Bold);
	margin-left: 20px;
}

.header-lists-button {
	display: flex;
	margin-right: 24px;
	font-family: var(--Bold);
	align-items: center;
	justify-content: center;
	line-height: 1;
	text-decoration: none;
	color: #000000;
	font-size: 16px;
	border-radius: 6px;
	width: 136px;
	height: 36px;
	font-weight: bold;
	border: 2px solid #333333;
	transition: 0.3s;
	box-shadow: 4px 4px 0px 0px rgba(255, 153, 0, 1);
	background-color: #ffffff;
}

.header-lists-button:hover {
	box-shadow: 0 0 #333;
	color: #000;
	background-color: #ff9900;
}

/* TOP VIEW */
.top {
	width: 100%;
	height: 100vh;
}

.layer {
	width: 100%;
	height: 180vh;
	position: absolute;
	background-image: linear-gradient(
		151deg,
		rgba(255, 255, 255, 0),
		rgb(0, 0, 0)
	);
	z-index: 1;
}

.top img {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	position: fixed;
}

.top-text {
	position: absolute;
	right: 6vw;
	bottom: 14vh;
	text-align: right;
	z-index: 2;
}

.top-title {
	font-family: var(--Bold);
	color: #ffffff;
	font-size: 64px;
	font-feature-settings: "palt";
	width: 100%;
}
.top-title span {
	color: var(--Theme);
}
.top-text p {
	font-family: var(--Bold);
	color: #ffffff;
	font-size: 40px;
}

.top-body {
	text-align: center;
	position: absolute;
	top: 110vh;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
}

.vision {
	color: var(--Theme);
	font-family: var(--Bold);
	font-size: 48px;
}

.vision-title {
	color: white;
	font-family: var(--Bold);
	font-size: 36px;
}

.vision-body {
	color: #ffffff;
	font-family: var(--Bold);
	font-size: 24px;
}
